@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

.logo-s1 {
    margin: auto;
    position: relative;
    left: -25px;
    width: 50px;
    height: 100px;
    background: transparent;
    border-radius: 50px 0px 0px 50px;
    box-shadow: 10px 10px 10px #000 inset;
}

.logo-s2 {
    margin: auto;
    position: relative;
    bottom: 1px;
    left: 25px;
    width: 50px;
    height: 100px;
    background: transparent;
    border-radius: 0px 50px 50px 0px;
    box-shadow: -10px -10px 10px #000 inset;
  }